body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--main-background-color);
    color: var(--basic-text-color);
}

body {
    background-color: rgb(209, 21, 21);
    color: aqua;
}

.modal-button {
    background-color: rgb(209, 21, 21);
}