/* footer */

.footer {
    padding: 60px 0;
    background-color: var(--banner-background-color);
}

.container-footer {
    display: flex;
    align-items: baseline;

    &__left-part {
        flex-grow: 1;
        margin-right: 70px;
    }
}
